---
// Component Imports
import { Image } from "@astrojs/image/components";
import ContentWrapper from "../components/ContentWrapper";
import ImageCard from "../components/ImageCard";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Grace Escape Room</title>
  </head>

  <body
    class="w-screen min-h-screen overflow-x-hidden h-auto flex justify-center items-center"
  >
    <ContentWrapper
      client:load
      cardsContent={[
        {
          keyword: "2",
          password: "123",
        },
        {
          keyword: "4",
          password: ["070517", "70517", "07/05/17", "07/05/2017"],
        },
        {
          keyword: "3",
          password: "123",
        },
        {
          keyword: "7",
          password: "123",
        },
      ]}
      images={[
        {
          src: "/images/image1.jpg",
          alt: "Quadro com post-its",
        },
        { src: "/images/image2.jpg", alt: "Lupa e um papel com glifos." },
        { src: "/images/image3.jpg", alt: "Livros empilhados em uma mesa." },
        {
          src: "/images/image4.jpg",
          alt: "Poema parcialmente queimado numa mesa.",
        },
      ]}
    />
    <div class="background-wrapper">
      <div class="background"></div>
    </div>
  </body>
</html>
<style>
  :root {
    --background-width: 7680px;
  }
  .background-wrapper {
    position: absolute;
    inset: 0;
    overflow: hidden;
    max-width: 100vw;
    pointer-events: none;
    z-index: -1;
  }
  .background {
    height: 100%;
    width: var(--background-width);
    background-image: url("/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    animation: translateBackground 15s linear infinite;
  }
  @keyframes translateBackground {
    0% {
      transform: translateX(0);
      backdrop-filter: brightness(1);
    }
    50% {
      backdrop-filter: brightness(1.75);
    }
    100% {
      transform: translateX(calc(var(--background-width) / 2 * -1));
      backdrop-filter: brightness(1);
    }
  }
</style>
